* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 100%;
    width: 100%;
    width: 1440px;
    background-color: #fffdfa;
    overflow-x: hidden;
    overflow-y: visible;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    padding-top: 25px;
}

.logo {
    width: 50px;
}

.logo > img {
    width: 100%;
}

nav ul > li {
    display: inline-block;
    padding: 0px 20px;
    list-style-type: none;
}

nav ul > li a {
    text-decoration: none;
}

nav ul > li a:visited {
    color: #5d5f79;
}

nav ul > li a:hover {
    color: #f15e50;
}

#open-menu, #close-menu {
    display: none;
}

/* MAIN */
main {
    width: 1440px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 130px;
    margin-bottom: 60px;
}

.left {
    width: 800px;
    gap: 20px;
}

.img-desktop {
    width: 100%;
    height: auto;
}

.img-mobile {
    display: none;
}

.bottom-left {
    display: flex;
    flex-direction: space-between;
    gap: 10px;
    width: 800px;
    margin-top: 20px;
}

.bottom-left-left {
    width: 100%;
    width: 400px;
}

.bottom-left-left > h1 {
    font-weight: 800;
    font-size: 3rem;
    margin: 0;
}

.bottom-left-right {
    width: 100%;
    width: 400px;
}

.blr-top > p {
    color: #5d5f79;
    margin: 0;
}

.blr-bottom {
    margin-top: 7px;
}

button {
    padding: 10px 30px;
    background-color: #f15e50;
    color: #fffdfa;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #00001a;
}

.right {
  background: #00001a;
  width: 400px;
  gap: 20px;
  padding: 20px;
  margin-left: 30px;
}

.new-box > h2 {
  color: #e9ab53;
  font-size: 2rem;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
}

.new-box > h1 {
  font-size: 2rem;
  margin: 0;
}

.new-box > p {
  line-height: 25px;
  margin: 0;
}

.content {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
  }

.border {
    border: 1px solid #5d5f79;
    margin-top: 20px;
}

.content > h4 {
    color: #fffdfa;
    font-size: 18px;
}

.content > h4:hover {
    color: #e9ab53;
    cursor: pointer;
}

.content > p {
    color: #5d5f79;
    padding-top: 10px;
    line-height: 25px;
}

.box-posts {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 150px;
}

.box {
    display: flex;
    flex-direction: inline;
}

.box > img {
    height: 150px;
    width: 100px;
}

.posts {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-right: 130px;
}

.posts > h2 {
    color: #c5c6ce;
    font-size: 2rem;
}

.posts > h4 {
    padding: 20px 0px;
    font-weight: 800;
}

.posts > h4:hover {
    color: #f15e50;
    cursor: pointer;
}

.posts > p {
    line-height: 20px;
    color: #5d5f79;
}

/* MEDIA */
@media (max-width: 768px) {
    body {
        font-size: 15px;
        font-weight: 400;
        height: 100%;
        width: auto;
        overflow-x: hidden;
        overflow-y: visible;
        align-items: center;
        align-content: center;
        margin: 15px;
    }

    .logo {
        width: 70px;
    }

    #open-menu {
        display: inline;
        width: 50px;
    }

    nav > ul {
        display: none;
    }

    header {
        margin-bottom: 30px;
    }

    main {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .left {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .right {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }

    .bottom-left {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
    }

    .bottom-left-left {
        width: 100%;
    }

    .bottom-left-right {
        width: 100%;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        width: 100%;
        height: auto;
    }

    .box-posts {
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-left: 50px;
        margin-bottom: -50px;
    }

    .box {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .posts > h4 {
        padding: 10px 0;
    }
    }
